.containe {
  width:  100%;
  display: flex;
  justify-content: space-between;
  padding: 4px;
}

.nav {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.nav a {
  margin: 2px 20px;
  padding: 6px 0;
  text-decoration: none;
  color: black;
}

.nav a:hover {
  border-bottom: 1px solid red;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-right: 15px;
  border: none;
  font-size: 2.5em;
  background-color: transparent;
}
.btn:hover {
  cursor: pointer;
}

@media (max-width: 800px){
  .containe {
    width:  100%;
    display: flex;
    justify-content: center;
    padding: 2px;
  }
  
  .nav {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .nav a {
    margin: 2px 10px;
    padding: 6px 0;
    font-size: 0.8em;
  }
  
  .nav a:hover {
    border-bottom: 1px solid red;
  }
  
  .btn {
    display: none;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-right: 15px;
    border: none;
    font-size: 2.5em;
    background-color: transparent;
  }
  .btn:hover {
    cursor: pointer;
  }
}